*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear:after{
    content: "";
    display: block;
    clear: both;
}

html{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    
    body{
        width: inherit;
        height: inherit;
    }
}

div#mainCover{
    width: inherit;
    height: inherit;
    position: relative;
    
    div#home{
        width: 20%;
        height: 80px;
//        text-align: center;
        float: left;
        background-color: #000;
        position: relative;
        
        :hover{
            background-color: #808080;
            color: #0d0d0d;
        }
        
        a{
            text-decoration: none;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 31px 151px;
        }
    }
    
    div#score-field{
        background-color: #fff;
        color: #000;
        width: 20%;
        float: left;
        position: absolute;
        top: 10%;
        text-align: center;
    }
    
    div#play{
        width: 60%;
        height: 100%;
        margin: 0 auto;
        background-color: #d3d3d3;
        position: relative;
    }
    
    div#letsPlay{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    div#coolDiv{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        background: black;
        border: 2px solid #333;
        border-radius: 5px;
        color: #fff;
    }
}