@import "_custom-mixins";
@import "game";
@import "bootstrap";
@import "font-awesome";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

footer{
    margin: 0 !important;
}

#footer{
    width: 100%;
    height: 50px;
    text-align: center;
}



.main-cover{
    width: 100%;
    height: 100%;
    background-image: url('../images/dota-background.png');
    background-size: 100% 100%;
    background-position: center;
        
    #hero{
        text-align: center;
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-56%, -50%);
        background-color: rgba(0,0,0,0.3);
        border-radius: 5px;
        a{
            text-decoration: none;
            color: white;
            font-size: 2.5em;
            padding: 20px;
        }
    }
}