{% extends "layout.html" %} 

{% block content%}
<div id="mainCover" class="clear">
    <div id="home">
        <a href="index.html"><span class="site-link-bg text-upper">Home</span></a>
    </div>
    <div id="score-field">
        <p>
            Score: <span id="score"></span>
        </p>

    </div>
    <div id="play">
        <div id="letsPlay">
            <h2>Press Enter to Catch the Squares!</h2>
            
        </div>
        <div id="restart">Play Again</div>
        <div id="coolDiv"></div>
    </div>
</div>

{% endblock %}

{%block js%}
<script src="js/game.js"></script>
{%endblock%}