<!-- index.nunjucks-->
{# "pages/index.html" #}

{% extends "layout.html" %}
{% set title='World Of Warcraft' %}
{# {% block navigation %} 
    
    {% import 'macros/nav-macro.html' as nav%}
    {{nav.active('home')}}
{% endblock %} #}


{% block content %} 
<!-- Adds the navigation partial -->

{% block navigation %}
<!--        default partials/navigation.html-->
                {% include "partials/navigation.html"%}
    
{%endblock%}

<main class="main-cover">
        <div class="button-enter">
            <div id=button-outer>
                <div class="button-inner">
                    <div class="button-label">Enter The Game</div>
                </div>
            </div>
         </div>
</main>

{% endblock %}