<!-- navigation.nunjucks -->

{# partials/navigation.html #}
<nav class="navbar navbar-expand-lg nav-bg">
   <div class="nav-wrapper">
    <a class="navbar-brand logo" href="#"><img src="images/wow-logo.png" height="50"><span id='dota-title'></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse nav-float-right" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto list-font link-hover">
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="site-link-bg text-upper">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><spam class="site-link-bg text-upper">Heroes</spam></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"><spam class="site-link-bg text-upper">Story</spam></a>
            </li>
        </ul>
    </div>
    </div>
</nav>
