<!-- layout.nunjucks -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  
</head>
<body>

  <!-- You write code for this content block in another file -->
  {% block content %} 
  
  {% endblock %}

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  <script src="js/stickyFooter.js"></script>
  <script src="js/main.js"></script>
</body>
</html>