<!-- layout.nunjucks -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {%- if title -%}
        {{title}}
        {%- else -%}
        This is the Title
        {%- endif-%}
    </title>

    <link rel="stylesheet" href="css/styles.css">

    <script src="https://use.fontawesome.com/26089d033c.js"></script>

</head>

<body>
<!--   block navigation-->
    
    

    <!-- You write code for this content block in another file -->
    {% block content %} 
    {% endblock %}
    
    {%block footer%}
        {% include "partials/footer.html"%}
    {%endblock%}

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/stickyFooter.js"></script>
    <script src="js/main.js"></script>
    {% block js %} {% endblock %}
</body>

</html>
